<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
		<add
      name="conn2"
      connectionString="Server=62.149.153.46;uid=MSSql187019;pwd=e4802u7156;database=MSSql187019"/>
    <add
      name="conn"
      connectionString="Server=LAPTOP-OKKRFVI2\SQLEXPRESS;
      Database=EDIL+;
      Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>